/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#addButton {
    font-size: 24px;
    padding: 10px 15px;
    border: 2px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#addButton:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#itemList {
    list-style-type: none;
    padding: 0;
}

#itemList li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
